<a href="https://colab.research.google.com/github/PriankaKibria17/food-sales-predictions/blob/main/Food_sales_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Food Sales Predictions - CORE Project Part 2

Prianka Kibria

3.4.22

In [1]:
#mounting
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# importing panda and assigning my path a variable name
import pandas as pd
import numpy as np

In [3]:
# verifying the data
filename = '/content/drive/MyDrive/data/sales_predictions.csv'
food_sale = pd.read_csv(filename)
food_sale.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

1) How many rows and columns?

In [4]:
# obtaining numbers of rows and columns
food_sale.shape

# I want to display just the number of rows 
rows = len(food_sale)
print('There are', rows, 'rows')

# I want to display just the number of columns
columns = len(food_sale.columns)
print('There are', columns, 'columns' )

There are 8523 rows
There are 12 columns

2) What are the datatypes of each variable?

In [5]:
# data type of all columns/variable
food_sale.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

3) Are there duplicates? If so, drop any duplicates.

In [6]:
# checking for any duplicated data 
food_sale.duplicated().any()

False

In [7]:
print('There arent any duplicates')

There arent any duplicates

4) Identify missing values.

In [39]:
# I want to look at the number of values in each column
food_sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [9]:
# summing the number of nan in each column
food_sale.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [10]:
# only displaying NAN value for the column item_weight 
Item_weight_missing = food_sale['Item_Weight'].isna()
food_sale.loc[Item_weight_missing,:]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
8485,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985,Medium,Tier 3,Supermarket Type3,6261.8490
8487,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985,Medium,Tier 3,Supermarket Type3,4111.3150
8488,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985,Medium,Tier 3,Supermarket Type3,2756.4120
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8504,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3,4138.6128

In [11]:
# only displaying NAN value for the column outlet_size
Outlet_size_missing = food_sale['Outlet_Size'].isna()
food_sale.loc[Outlet_size_missing,:]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
...,...,...,...,...,...,...,...,...,...,...,...,...
8502,NCH43,8.420,Low Fat,0.070712,Household,216.4192,OUT045,2002,NaN,Tier 2,Supermarket Type1,3020.0688
8508,FDW31,11.350,Regular,0.043246,Fruits and Vegetables,199.4742,OUT045,2002,NaN,Tier 2,Supermarket Type1,2587.9646
8509,FDG45,8.100,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,NaN,Tier 3,Grocery Store,424.7804
8514,FDA01,15.000,Regular,0.054489,Canned,57.5904,OUT045,2002,NaN,Tier 2,Supermarket Type1,468.7232
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850

In [12]:
print('The columns that have missing values are Item_Weight and Outlet_Size')

The columns that have missing values are Item_Weight and Outlet_Size

5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

In [13]:
#For the Item_Weight column I will fill in missing values using a 0. Typically for floats I would use the average. 
#However, I noticed that the column "Item_Visibility" contains floats as well and used 0's for missing data therefore I will match the datas consistency in missing numeric data.
Replacing_Itemweight = food_sale['Item_Weight'].fillna(value = 0, inplace=True)

In [14]:
# For the Outlet_Size colum; Since this is a categorical value it does not make sense to use the average. Therefore, I will use "Missing" to fill in the NaN values. 
#It will still tell the algorithm the value is missing but it will get around the requirement for no missing values.
Replaciing_Outletsize = food_sale['Outlet_Size'].fillna('Missing', inplace=True)

6) Confirm that there are no missing values after addressing them.

In [15]:
# rechecking for any null values
# all columns now have 0 rows with null values
food_sale.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [16]:
# double checking and all of the counts match
# all non null count values match!
food_sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)

In [17]:
# I want to see an overview of the categories for each column
food_sale.value_counts()

Item_Identifier  Item_Weight  Item_Fat_Content  Item_Visibility  Item_Type              Item_MRP  Outlet_Identifier  Outlet_Establishment_Year  Outlet_Size  Outlet_Location_Type  Outlet_Type        Item_Outlet_Sales
DRA12            11.600       LF                0.000000         Soft Drinks            141.9154  OUT035             2004                       Small        Tier 2                Supermarket Type1  992.7078             1
FDV28            0.000        Regular           0.158955         Frozen Foods           34.9558   OUT027             1985                       Medium       Tier 3                Supermarket Type3  1120.5414            1
FDV32            7.785        Low Fat           0.089070         Fruits and Vegetables  62.7510   OUT018             2009                       Medium       Tier 3                Supermarket Type2  1707.7770            1
                                                0.088846         Fruits and Vegetables  61.4510   OUT049             1999                       Medium       Tier 1                Supermarket Type1  759.0120             1
                                                0.088692         Fruits and Vegetables  61.8510   OUT035             2004                       Small        Tier 2                Supermarket Type1  1454.7730            1
                                                                                                                                                                                                                          ..
FDJ22            18.750       Low Fat           0.053109         Snack Foods            193.6504  OUT017             2007                       Missing      Tier 2                Supermarket Type1  2876.2560            1
                                                0.053025         Snack Foods            192.5504  OUT018             2009                       Medium       Tier 3                Supermarket Type2  2109.2544            1
                                                0.052917         Snack Foods            190.6504  OUT045             2002                       Missing      Tier 2                Supermarket Type1  1342.2528            1
                                                0.052800         Snack Foods            193.2504  OUT035             2004                       Small        Tier 2                Supermarket Type1  2684.5056            1
NCZ54            14.650       Low Fat           0.083699         Household              163.4552  OUT018             2009                       Medium       Tier 3                Supermarket Type2  2599.2832            1
Length: 8523, dtype: int64

** Here I am combing through each column using .value_counts() because the above df.value_counts() is not displaying all of the inconsistencies**

- you can scroll down to see the inconsistences I addressed and fixed

In [18]:
# no inconsistencies and the numeric values align with the rest of this categories data
food_sale['Item_Identifier'].value_counts()

FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [19]:
# no inconsistencies and the numeric values align with the rest of this categories data
food_sale['Item_Weight'].value_counts()

0.000     1463
12.150      86
17.600      82
13.650      77
11.800      76
          ...
7.275        2
7.685        1
9.420        1
6.520        1
5.400        1
Name: Item_Weight, Length: 416, dtype: int64

In [20]:
# There are incosistencies here with words LF, low fat, reg.
food_sale['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [21]:
# no inconsistencies and the numeric values align with the rest of this categories data
food_sale['Item_Visibility'].value_counts()

0.000000    526
0.076975      3
0.162462      2
0.076841      2
0.073562      2
           ...
0.013957      1
0.110460      1
0.124646      1
0.054142      1
0.044878      1
Name: Item_Visibility, Length: 7880, dtype: int64

In [22]:
# no inconsistencies. The syntax or spellings are consistent and correct
food_sale['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [23]:
# no inconsistencies and the numeric values align with the rest of this categories data
food_sale['Item_MRP'].value_counts()

172.0422    7
170.5422    6
196.5084    6
188.1872    6
142.0154    6
           ..
97.3384     1
83.1934     1
96.6752     1
152.6682    1
75.4670     1
Name: Item_MRP, Length: 5938, dtype: int64

In [24]:
# no inconsistencies and the numeric values align with the rest of this categories data
food_sale['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [25]:
# no inconsistencies and the numeric values align with the rest of this categories data
food_sale['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [26]:
# no inconsistencies and the numeric values align with the rest of this categories data
food_sale['Outlet_Establishment_Year'].value_counts()

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

In [27]:
# no inconsistencies. The syntax or spellings are consistent and correct
food_sale['Outlet_Size'].value_counts()

Medium     2793
Missing    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64

In [28]:
# no inconsistencies and the numeric values align with the rest of this categories data
food_sale['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [29]:
# no inconsistencies. The syntax or spellings are consistent and correct
food_sale['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [30]:
# no inconsistencies and the numeric values align with the rest of this categories data
food_sale['Item_Outlet_Sales'].value_counts()

958.7520     17
1342.2528    16
703.0848     15
1845.5976    15
1278.3360    14
             ..
4124.6310     1
6622.7126     1
1614.5650     1
5602.7070     1
2778.3834     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

# Replacing Incorrect data/Syntax

In [31]:
# The inconsistent data was in "Item_Fat_Content" for words low fat and regular
food_sale.replace(['LF', 'low fat'], ['Low Fat', 'Low Fat'], inplace = True)

In [32]:
food_sale.replace(['Reg', 'reg'], ['Regular', 'Regular'], inplace = True)

In [33]:
#checking to see if my changes were implemented
food_sale['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

8) For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [34]:
#Summary stat for Item_Weight
weight_min = food_sale['Item_Weight'].min()
print('The min is', weight_min)
weight_max = food_sale['Item_Weight'].max()
print('The max is', weight_max)
weight_mean = food_sale['Item_Weight'].mean()
print('The mean is', weight_mean)

The min is 0.0
The max is 21.35
The mean is 10.650589581133575

In [35]:
#Summary stat for Item_Visibility
Item_min = food_sale['Item_Visibility'].min()
print('The min is', Item_min)
Item_max = food_sale['Item_Visibility'].max()
print('The max is', Item_max)
Item_mean = food_sale['Item_Visibility'].mean()
print('The mean is', Item_mean)

The min is 0.0
The max is 0.328390948
The mean is 0.06613202877895127

In [36]:
#Summary stat for Item_MRP
MRP_min = food_sale['Item_MRP'].min()
print('The min is', MRP_min)
MRP_max = food_sale['Item_MRP'].max()
print('The max is', MRP_max)
MRP_mean = food_sale['Item_MRP'].mean()
print('The mean is', MRP_mean)

The min is 31.29
The max is 266.8884
The mean is 140.9927819781768

In [37]:
#Summary stat for Outlet_Establishment_Year
Establishment_min = food_sale['Outlet_Establishment_Year'].min()
print('The min is', Establishment_min)
Establishment_max = food_sale['Outlet_Establishment_Year'].max()
print('The max is', Establishment_max)
Establishment_mean = food_sale['Outlet_Establishment_Year'].mean()
print('The mean is', Establishment_mean)

The min is 1985
The max is 2009
The mean is 1997.8318667135984

In [38]:
#Summary Stat for Item_Outlet_Sales
Itemout_min = food_sale['Item_Outlet_Sales'].min()
print('The min is', Itemout_min)
Itemout_max = food_sale['Item_Outlet_Sales'].max()
print('The max is', Itemout_max)
Itemout_mean = food_sale['Item_Outlet_Sales'].mean()
print('The mean is', Itemout_mean)

The min is 33.29
The max is 13086.9648
The mean is 2181.2889135750365